.service-logo{
    width: 80px;
}
@media (max-width:700px){
    .service-logo{
        width: 50px;
    }
}

.service_description{
    text-align: center;
}

.service-card:hover{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #eee3e7;
    box-shadow: 1px 1px 0.5px 0.5px gray;
}
