.sidebar ul{
    padding: 0rem !important;
}
.sidebar ul li{
    list-style: none;
}
.sidebar-items{
    color: black;
    font-size: large;
    font-weight: bold;
}

.sidebar-items:hover{
    color: green;
}

@media only screen and (min-width: 700px){
    .sidebar ul li {
        margin-left: 0rem !important;
    }
}